{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.ts*",
      "options": {
        "semi": false,
        "arrowParens": "always"
      }
    },
    {
      "files": "*.scss",
      "options": {}
    }
  ]
}
